.correct-answer {
  background-color: rgb(34, 170, 34);
}

.wrong-answer-0 {
  background-color: rgb(235, 41, 41);
}

.wrong-answer-1 {
  background-color: rgb(235, 41, 41);
}

.wrong-answer-2 {
  background-color: rgb(235, 41, 41);
}
